.about {
    .container {
        @include flexbox(8rem, center);
        flex-wrap: wrap;

        .about-content {
            flex: 1 1 42rem;

            .span-title { color: $red; }

            .about-title span { color: $red; }

            .box-container {
                margin-block: 2rem;
                @include flexbox(2rem, center);
                flex-wrap: wrap;

                .box {
                    flex: 1 1 20rem;

                    .box-title i {
                        color: $red;
                        padding-right: 1.5rem;
                    }
                    .box-text {
                        font-size: 1.5rem;
                        padding-block: 0;
                    }
                }
            }

            .btn-primary {
                margin-top: 2rem;
            }

        }

        .about-image {
            flex: 1 1 42rem;
            position: relative;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 15rem;
                height: 15rem;
                background-color: $red;
                z-index: -1;
            }

            &::before {
                top: 0;
                left: 0;
            }

            &::after {
                bottom: 0;
                right: 0;
            }

            img {
                width: 100%;
                padding: 2rem;
            }
        }
    }
}
